<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>onJpa</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DienthoaiControllers</display-name>
    <servlet-name>DienthoaiControllers</servlet-name>
    <servlet-class>controllers.DienthoaiControllers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DienthoaiControllers</servlet-name>
    <url-pattern>/dienthoai</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>nhaCungCapController</display-name>
    <servlet-name>nhaCungCapController</servlet-name>
    <servlet-class>controllers.nhaCungCapController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>nhaCungCapController</servlet-name>
    <url-pattern>/nhacungcap</url-pattern>
  </servlet-mapping>
</web-app>